{% extends 'donatory/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<style>
    #div_id_phone_number #tel_1 {
        margin: 1rem 0rem 0rem 0rem;
      }

    @media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .card{
        margin-top: 10rem;
        margin-left: 13rem;
        position: absolute;
        }

    }
</style>

<section class='card container p-5 shadow'>
<strong class="mb-3 ui horizontal message green">Please Provied Your Correct Information</strong>
<form class="ui form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="field two fields">
        <div class="field">
            {{ form.name| as_crispy_field }}
        </div>
        <div class="field">
            {{ form.blood_group| as_crispy_field }}
        </div>
    </div>

    <div class="field two fields">
        <div class="field">
            {{ form.phone_number| as_crispy_field }}
        </div>
        <div class="field">
            {{ form.profile_picture| as_crispy_field }}
        </div>
    </div>

    <div class="field two fields">
        <div class="field">
            {{ form.current_address| as_crispy_field }}
        </div>
        <div class="field">
            {{ form.permanent_address| as_crispy_field }}
        </div>
    </div>
    <button class="ui button green" type="submit">Submit</button>
    </form>
</section>


{% endblock %}
