{% load crispy_forms_tags %}
      <!-- Search form -->
<nav class="navbar navbar-expand-lg navbar-light bg-light container">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><span class='ui horizontal label red' style='font-size:1rem;'>Donatory | Sociel</span></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active text-danger font-weight-bold" aria-current="page" href="{% url 'donatory:blood-form' %}" >POST BLOOD GROUP</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Sociel Awarness</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'account_logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'account_login' %}">Login</a>
            </li>
            {% endif %}
        </ul>
        </div>
        <div class="ui category search">
            <div class="ui icon input">
            <form method="get">
            <div class="input-group mb-3">
                {{ filter.form.name }}
              <div class="input-group-prepend">
                <button class="btn btn-outline-danger" type="submit"><i class="search icon"></i></button>
              </div>
            </div>
            </form>
            </div>
            </div>
            <div class="results"></div>
            </div> 
    </div>
</nav>